
#about{
    text-align: right;
    margin: 30px;
}
h2{
    text-align: right;
    margin: 2px;
}
#about_imgg{
    text-align: left;
    position: relative;
    top:-500px;
    margin: 40px;
}
#about_imggg{
    height: 400px;
    width: 600px;
}
